# Environment used by Xformer...

# The full path of the output file
# this needs to be writable, since Xformer will write this file
#OUTPUT_PATH="/opt/schedule.json"

GB_API_KEY=1234567...
GB_URL=...